{% extends 'templates/base.html' %}

{%block title%} list book {% endblock title%}
{%block body%}
<div>
    
    <h2>Полный список книг</h3>
        {% if user.is_superuser or user.is_staff %}
        <a href="{% url 'bookapp:create' %}" class="btn btn-success">Добавить новую книгу</a>
        {% endif %}
        <table   width="850" class="table">
            <thead class="thead-dark">
            <tr id="id1">
                <th>Название книги</th><th>Обложка книги</th><th>Автор</th><th>Жанр</th><th>Издательство</th><th>Описание</th>
                {% if user.is_superuser %} 
                <th>Изменить/Удалить</th> {% elif user.is_staff %} <th>Изменить</th>{% endif %}
            </tr>
            </thead>
            {% for obj in bookapp %}
                <tr>
                    <td><a href="{% url 'bookapp:detail' obj.pk %}">{{obj.name}}</a></td>
                    <td><img src="{{obj.image.url}}" width="100" alt=""></td>
                    <td>{{obj.authors}}</td>
                    <td>{{obj.genre}}</td>
                    <td>{{obj.publisher}}</td>
                    <td>{{obj.description}}</td>
                    {% if user.is_superuser %} 
                    <td><a href="{% url 'bookapp:update' obj.pk %}">Изменить</a><br>
                        <a href="{% url 'bookapp:delete' obj.pk %}">Удалить</a></td>
                        {% elif user.is_staff %} <td><a href="{% url 'bookapp:update' obj.pk %}">Изменить</a></td>
                        {% endif %}
                    
                </tr>
            {% endfor %}  
        </table>
</div> 
{%endblock body%} 