{% extends 'templates/base.html' %}

{%block title%} list genres {% endblock title%}
{%block body%}
<div>
    
    <h2>Перед Вами полный список доступных жанров</h3>
        {% if user.is_superuser or user.is_staff %} 
        <a href="{% url 'genres:create' %}" class="btn btn-success">Добавить новый жанр</a>{% endif %}
        <table   width="850" class="table">
            <thead class="thead-dark">
            <tr id="id1">
                <th>Название жанра</th><th>Описание</th><th>Создано</th><th>Изменено</th>{% if user.is_superuser %} 
                <th>Изменить/Удалить</th> {% elif user.is_staff %} <th>Изменить</th>{% endif %}
            </tr>
            </thead>
            {% for obj in genres %}
                <tr>
                    <td>{{obj.name}}</td>
                    <td>{{obj.description}}</td>
                    <td>{{obj.created}}</td>
                    <td>{{obj.updated}}</td>
                    {% if user.is_superuser %}
                    <td><a href="{% url 'genres:update' obj.pk %}">Изменить</a><br>
                        <a href="{% url 'genres:delete' obj.pk %}">Удалить</a>
                    {% elif user.is_staff %}
                    <td><a href="{% url 'genres:update' obj.pk %}">Изменить</a><br>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}  
        </table>

        <div id="id2">
        <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item {% if not page_obj.has_previous %} disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{%else%}#{% endif %}" tabindex="-1" aria-disabled="true">Previous</a>
              </li>
              {% for page in page_obj.paginator.page_range %}
              <li class="page-item {% if page_obj.number == page %}active{% endif %}  "><a class="page-link" href="?page={{page}}">{{page}}</a></li>
              {% endfor %}

             <li class="page-item active" aria-current="page">
               <!-- <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
              </li>

              <li class="page-item"><a class="page-link" href="#">3</a></li>--> 

              <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{%else%}#{% endif %}">Next</a>
              </li>
            </ul>
          </nav>

        </div>
        <br>

{%endblock body%} 
