{% extends 'base.html' %}

{%block title%} list genres {% endblock title%}
{%block body%}
    <h2>Перед Вами полный список доступных жанров</h3>
        <a href="{% url 'genres:create' %}" class="btn btn-success">Добавить новый жанр</a>
        <table   width="850" class="table">
            <thead class="thead-dark">
            <tr id="id1">
                <th>Название жанра</th><th>Описание</th><th>Создано</th><th>Изменено</th><th>Изменить/Удалить</th>
            </tr>
            </thead>
            {% for obj in genres %}
                <tr>
                    <td>{{obj.name}}</td>
                    <td>{{obj.description}}</td>
                    <td>{{obj.created}}</td>
                    <td>{{obj.updated}}</td>
                    <td><a href="{% url 'genres:update' obj.pk %}">Изменить</a><br>
                        <a href="{% url 'genres:delete' obj.pk %}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}  
        </table>
{%endblock body%} 
