{% extends 'templates/base.html' %}
{% load static %}

{%block title%} list book {% endblock title%}
{%block body%}
<div>
    <h1>Корзина</h1>
    <table class="table">
    <tr>
        <th>Название книги</th>
        <th> Количество</th>
        <th> Итого</th>
        <th>Редактировать/Удалить</th>
    </tr>
    {% for product_in_cart in object.books.all %}
    <tr>
        <td> {{product_in_cart.book.name}}</td>
        <td> {{product_in_cart.quantity}}</td>
        <td> {{product_in_cart.price}}</td>
        <td><a href="{% url 'cart:add' %}?bookapp_pk={{product_in_cart.book.pk}}">Редактировать</a>
            <a href="{% url 'cart:delete' product_in_cart.pk %} ">Удалить</a></td>
    </tr>
    {% endfor %}
    </table>
    <h5>Итого:</h5> {{object.price}} <br><br>
    <a href="{% url 'order:create' %}" class="btn btn-success">оформить заказ</a>
</div> 
{%endblock body%} 